venv/
*.pyc
logs/app.log
test-folder/
dist/
build/
config/*.json
default.json
config/profiles/*.json
database/import.csv
database/mydb.db
logs/app.log
templates/default_template.html
database/db_import.csv
logs/app.log
